{% extends "base.html" %}
{% block page_title %}Document Detail{% endblock %}
{% block content %}
    <body>
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <div><a href="#" onclick="history.go(-2)">New Search</a></div>
    <div><a href="/stats" >Stats</a></div>
    <div><a href="/dashboard" >Dashboard</a></div>
    <hr>

    {% if clicked_tweet %}
        <div class="pb-3">
            <div class="doc-id">
                <b>Tweet ID:</b> {{ clicked_tweet.id }}
            </div>
            <div class="doc-title">
                <b>Tweet Title:</b> {{ clicked_tweet.title }}
            </div>
            <div class="doc-desc">
                <b>Tweet Description:</b> {{ clicked_tweet.description }}
            </div>
            <div class="doc-date">
                <b>Tweet Date:</b> {{ clicked_tweet.doc_date }}
            </div>
            {% if clicked_tweet.url %}
                <div class="cited">
                    <b>Tweet Url:</b> <cite> <a href="{{ clicked_tweet.url }}">{{ clicked_tweet.url }}</a></cite>
                </div>
            {% endif %}
            <div class="doc-likes">
                <b>Number of Likes of the Tweet:</b> {{ clicked_tweet.likes }}
            </div>
            <div class="doc-rt">
                <b>Number of Retweets of the Tweet:</b> {{ clicked_tweet.retweets }}
            </div>
            <div class="doc-hastags">
                <b>Tweet Hashtags:</b> {{ clicked_tweet.hashtags }}
            </div>

        </div>
    {% else %}
        <p>No tweet details available</p>
    {% endif %}
    <hr>
    </body>
    </html>
{% endblock %}

