{% extends "base.html" %}
{% block page_title %}{{ page_title }}{% endblock %}
{% block content %}
    <div><a href="#" onclick="history.go(-1)">Go Back</a></div>
    <hr>
    <div class='centered'> <h2>Stats</h2></div>
    <hr>
    <h4>User context:</h4>
    {% if user %}
        <div class="pb-3">
            IP: {{ user.ip }} - Platform: {{user.platform}} - Operative System: {{user.os}} - Browser: {{user.browser}}
            <br> City: {{user.city}} - Region: {{user.region}} - Country: {{user.country}} - Datetime: {{user.date}} {{user.time}} 
        </div>
    {% endif %}
    <hr>
    <h4>Session information:</h4>
    {% if duration and query_counter%}
        <div class="pb-3">
            Session has been running for {{ duration }} seconds and {{query_counter}} queries have been searched. Queries have a mean length of {{mean_query}} terms.</span>
        </div>
    {% endif %}
    <hr>
    <h4>Searched queries:</h4>
    {% for doc in query %}
        <div class="pb-3">
            "{{doc.query}}" - Results found: {{ doc.found }} - Searched {{ doc.count }} times.
        </div>
    {% endfor %}
    <hr>
    <h4>Clicked docs:</h4>
    {% for doc in clicks_data %}
        <div class="pb-3">
            ({{ doc.count }} visits) </span> — id: {{ doc.id }} — Tweet: {{ doc.description }}
        </div>
    {% endfor %}
    <hr>
{% endblock %}
